.GameBoard-container{

	header{
		background:lightgoldenrodyellow;
		height:100px;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	.GameBoard{
		background:green;
		width:400px;
		height:400px;
		margin:50px auto;
		display:flex;
		flex-wrap:wrap;
	}
}